<div class="footer">
    <p>Todos los contenidos de ésta pagina son propiedad de Triatlón a Fondo y del Equipo Tritanes Tec de Monterrey.</p>

    <p>Ave. Eugenio Garza Sada 2501 Sur Col. Tecnológico C.P. 64849 | Monterrey, Nuevo León, México | Tel. +52 (81)
        1908-7940</p>
</div>
<!-- end .footer -->

</div>
<!-- end .container -->
</body>
</html>
