<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Triatlon a Fondo</title>
<link rel="stylesheet" type="text/css" href="/Users/Harcam/GitHub/triatlonafondo/triatlonafondo.com/src/Harcam/TriatlonBundle/Resources/public/css/trifondo.css" />
</head>
<body>
    div class="container">
  <div class="header"><a href="#"><img src="http://nebula.wsimg.com/4523173f56b50ea70677c9b562f1c271?AccessKeyId=4A208B73E70DC1DAF042&disposition=0&alloworigin=" alt="Insert Logo Here" name="Insert_logo" width="337" height="60" id="Insert_logo" style="background-color: #003366; display: block;" /></a> 
    <!-- end .header --></div>