 <div class="sidebar1">
    <ul class="nav">
      <li><a href="http://www.triatlonafondo.com">Inicio</a></li>
      <li><a href="#">Entrenadores</a></li>
      <li><a href="#">Horarios</a></li>
      <li><a href="http://www.triatlonafondo.com/triatlontritanes.html">Triatl—n Tritanes</a></li>
      <li><a href="http://www.triatlonafondo.com/costos.html">Costos</a></li>
      <li><a href="#">Galer’a</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
    <div><a href="https://www.facebook.com/Tritanes?fref=ts"><img src="http://triatlonafondo.com/img/facebook_logo.png" width=60px height=60px></img></a>
    <a href="https://twitter.com/tritanestec"><img src="http://triatlonafondo.com/img/twitter-icon.png" width=60px height=60px></img></a>
  </div>
    <div id="tritanes"></div>
      <!-- end .sidebar --></div>