security:
    encoders:
        Symfony\Component\Security\Core\User\User: plaintext

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: [ROLE_USER, ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    providers:
        in_memory:
            memory:
                users:
                    admin: { password: %admin_password%, roles: [ 'ROLE_ADMIN' ] }

    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false

        login_firewall:
            pattern:    ^/admin/login$
            anonymous:  ~

        secured_area:
            pattern:    ^/admin
            form_login:
                login_path:  /admin/login
                check_path:  /admin/login_check
                default_target_path: /admin
            logout:
                path:   /admin/logout
                target: /admin/login

        public_access:
            pattern:    ^/
            anonymous:  ~

    access_control:
        - { path: ^/admin/, roles: ROLE_ADMIN }
