{{ include('HarcamTriatlonBundle:Layout:header.html.twig') }}
{{ include('HarcamTriatlonBundle:Layout:sidebar.html.twig') }}

<!-- start .content -->
<div class="content">
    <h3>Contacto</h3>
    <p>Para informes no dudes en contactarnos a <a href="mailto:tritanes@gmail.com">tritanes@gmail.com</a></p>
</div>
<!-- end .content -->
{{ include('HarcamTriatlonBundle:Layout:footer.html.twig') }}