<div class="content">
<div><h1>Bienvenido a Triatlón a Fondo</h1></div>
    <div><h4>Horarios de Entrenamiento</h4>
    <img src="http://nebula.wsimg.com/ae1aaea0c8b47c975bba63f69f5d648b?AccessKeyId=4A208B73E70DC1DAF042&disposition=0&alloworigin=1"></img>
    </div>
    <h4>Triatlón Tritanes</h4>
    <p>Próximamente tendremos información para el triatlón tritanes, !Espéralo!</p>
    <!-- end .content --></div>