{{ include('HarcamTriatlonBundle:Layout:header.html.twig') }}
{{ include('HarcamTriatlonBundle:Layout:sidebar.html.twig') }}

<!-- start .content -->
<div class="content">
<div><h1>Costos</h1></div>
	<div>
		<p>Los costos por concepto de entrenamiento en el equipo Tritanes se desglozan de la siguiente manera:</p>
	</div>
	<div><img src="{{ asset('bundles/harcamtriatlon/img/costos.jpg') }}" width="700" ></img></div>
</div>
<!-- end .content -->

{{ include('HarcamTriatlonBundle:Layout:footer.html.twig') }}