<div class="content">
<div><h1>Costos</h1></div>
	<div>
		<p>Los costos por concepto de entrenamiento en el equipo Tritanes se desglozan de la siguiente manera:</p>
	</div>
	<div><img src="http://www.triatlonafondo.com/img/costos.jpg" width="700" ></img></div>
</div>
<!-- end .content -->