{{ include('HarcamTriatlonBundle:Layout:header.html.twig') }}
{{ include('HarcamTriatlonBundle:Layout:sidebar.html.twig') }}

<!-- Start .content-->
<div class="content">
<div><h4>Horarios de Entrenamiento</h4>
    <img src="{{ asset('bundles/harcamtriatlon/img/horarios.jpg') }}"></img>
    </div>
</div>
<!-- end .content -->
{{ include('HarcamTriatlonBundle:Layout:footer.html.twig') }}