{{ include('HarcamTriatlonBundle:Layout:header.html.twig') }}
{{ include('HarcamTriatlonBundle:Layout:sidebar.html.twig') }}
<!-- start .content -->
<div class="content">
<h2>Nuestros Entrenadores</h2>
    <div class="deporte">Natación</div>
    <div class="trainername">Rodolfo Rojas Juárez</div>
    
    <div class="logros">
        <p class="ttitle">Logros</p>
        <table>
            <tr><td>- 8 records nacionales Curso Corto Natacion en cat. Juv. A</td></tr>
            <tr><td>- 4 records nacionales Curso Largo Natacion en cat. Juv. A</td></tr>
            <tr><td>- 2 records absolutos mexicanos Natacion Juv. A</td></tr>
            <tr><td>- Cinco veces entreenador auxiliar de la selección Mexicana.</td></tr>
            <tr><td>- Campeonato Centroamericano de Republica Dominicana.</td></tr>
            <tr><td>- Pacific Swimming en Concord California.</td></tr>
            <tr><td>- Campeonato Centroamericano en México.</td></tr>
            <tr><td>- Pacific Swimming de San José California.</td></tr>
            <tr><td>- CAMEX en Panamá.</td></tr>
            <tr><td>TRIATLETA SELECCIONADO PARA PARTICIPAR EN LA OLIMPIADA JUVENIL DESDE 2011- 2014 CON MEDALLA DE ORO EN LA OLIMPIADA DEL 2011 EN LA ESPECIALIDAD DE ACUATLON</td></tr>
            <tr><td>- 10 años participando con nadadores en olimpiadas nacionales juveniles de Natación.</td></tr>
         </table>
    </div>
    <div class="capacitacion">
        <p class="ttitle">Capacitación</p>
        <table>
            <tr><td>Curso para Instructores de natación    1987 – 1991</td></tr>
            <tr><td>Metodología y planificación del entrenamiento  1992</td></tr>
            <tr><td>Salvamento Acuático y RCP  1987 - 1996</td></tr>
            <tr><td>Metodología y ciencias del deporte   1997</td></tr>
            <tr><td> SICCED Niveles I al IV      1998 - 2003</td></tr>
            <tr><td>Curso de Psicología del deporte  2003</td></tr>
            <tr><td>Certificación en triatlón avalado por FMTRI  2012 nivel 1</td></tr>
            <tr><td>Certificación en triatlón avalado por FMTRI  2012 nivel 2</td></tr>
        </table>
    </div>
    
    <div class="deporte">Ciclismo</div>
    <div class="trainername">Marco Antonio López Durán</div>
    
    <div class="logros">
        <p class="ttitle">Logros</p>
        <table>
            <tr><td>Primer ciclista Profesional Mexicano. Equipos Sem France Loire (Francia, 1981) Ariostea Benotto (Italia) Denti Valdivo (EUA, 1984)</td></tr>
            <tr><td>Campeonato Mundial de Ciclismo (Barcelona 84)</td></tr>
            <tr><td>Campeonato Panamericano de Ciclismo (Chile, Venezuela)</td></tr>
            <tr><td>Campeonato Nacional de Pista (80, 82, 83)</td></tr>
            <tr><td>Campeonato Mundial de Duatlón (Dallas 92, Cancún 95)</td></tr>
            <tr><td>Campeón Nacional de Ciclismo de Montaña (96, 97, 02)</td></tr>
            <tr><td>Campeón Nacional de 5,000 metros en Pista</td></tr>
            <tr><td>Campeón Nacional 100 Km Ruta</td></tr>
        </table>
    </div>
    <div class="capacitacion">
        <p class="ttitle">Capacitación</p>
       <table>
        <tr><td>Certificación Internacional de Spinning, Tatiana Kolovou, 2000</td></tr>
        <tr><td>Taller Internacional de Spinning, Monterrey, N.L., 2003</td></tr>
        <tr><td>Congreso Internacional del Deporte, Monterrey, N.L., 2002</td></tr>
        <tr><td>IDEA, San Diego, California, 2002</td></tr>
      </table>
        
    </div>
    
    <div class="deporte">Carrera</div>
    <div class="trainername">Alejandro Romo Perea</div>
    <div class="logros">
        <p class="ttitle">Logros</p>
        <table>
        <tr><td>2008 -  2010 - Miembro del equipo representativo de Atletismo del ITESM Campus Monterrey.</td></tr>
        <tr><td>2010 - Se inicia en la práctica del triatlón. </td></tr>
        <tr><td>2011 - Inicia su apoyo como entrenador de atletismo de los Tritanes.</td></tr>
        <tr><td>2012 - Clasificado en grupos por edad al mundial de triatlón de Nueva Zelanda.</td></tr>
        <tr><td>2013 - Clasificado en grupos por edad al mundial de triatlón en Londres.</td></tr>
        </table>
    </div>
    <div class="capacitacion">
        <p class="ttitle">Capacitación</p>
        <table>
        <tr><td>2011 - Certificación del nivel I de entrenadores de triatlón por la FMTRI.</td></tr>
        <tr><td>2014 - Certificación del nivel II de entrenadores de triatlón por la FMTRI</td></tr>
        <tr><td>Diplomado en masoterapia</td></tr>
        </table>
    </div>
</table>

</div>
<!-- end .content -->
{{ include('HarcamTriatlonBundle:Layout:footer.html.twig') }}