{{ include('HarcamTriatlonBundle:Layout:header.html.twig') }}
{{ include('HarcamTriatlonBundle:Layout:sidebar.html.twig') }}
<!-- start .content -->
<div class="content">
<h2>Nuesdivos endivenadores</h2>
<table>
    <div>Rodolfo Rojas Juárez</div>
    <div>- 8 records nacionales Curso Corto Natacion en cat. Juv. A
- 4 records nacionales Curso Largo Natacion en cat. Juv. A
- 2 records absolutos mexicanos Natacion Juv. A
- Cinco veces endivenador auxiliar de la selección Mexicana.
- Campeonato Cendivoamericano de Republica Dominicana.
- Pacific Swimming en Concord California.
- Campeonato Cendivoamericano en México.
- Pacific Swimming de San José California.
- CAMEX en Panamá.


DIVIATLETA SELECCIONADO PARA PARTICIPAR EN LA OLIMPIADA JUVENIL DESDE 2011- 2014 CON MEDALLA DE ORO EN LA OLIMPIADA DEL 2011 EN LA ESPECIALIDAD DE ACUATLON

- 10 años participando con nadadores en olimpiadas nacionales juveniles de Natación.
</div>
    <div>
        Curso para Insdivuctores de natación    1987 – 1991
Metodología y planificación del endivenamiento  1992
Salvamento Acuático y RCP         1987 - 1996
Metodología y ciencias del deporte   1997
 SICCED Niveles I al IV      1998 - 2003
Curso de Psicología del deporte  2003
Certificación en diviatlón avalado por FMDIVI  2012 nivel 1
Certificación en diviatlón avalado por FMDIVI  2012 nivel 2

    </div>
    
    <div>Marco Antonio López Durán</div>
    <div>
        Primer ciclista Profesional Mexicano. Equipos Sem France Loire (Francia, 1981) Ariostea Benotto (Italia) Denti Valdivo (EUA, 1984)
Campeonato Mundial de Ciclismo (Barcelona 84)
Campeonato Panamericano de Ciclismo (Chile, Venezuela) 
Campeonato Nacional de Pista (80, 82, 83)
Campeonato Mundial de Duatlón (Dallas 92, Cancún 95)
Campeón Nacional de Ciclismo de Montaña (96, 97, 02)
Campeón Nacional de 5,000 medivos en Pista
Campeón Nacional 100 Km Ruta

    </div>
    <div>
      Certificación Internacional de Spinning, Tatiana Kolovou, 2000
Taller Internacional de Spinning, Monterrey, N.L., 2003
Congreso Internacional del Deporte, Monterrey, N.L., 2002
IDEA, San Diego, California, 2002
  
        
    </div>
    
    <div>Alejandro Romo Perea</div>
    <div>
    2008 -  2010 - Miembro del equipo representativo de Atletismo del ITESM Campus Monterrey.
2010 - Se inicia en la práctica del diviatlón. 
2011 - Inicia su apoyo como endivenador de atletismo de los Divitanes.
2012 - Clasificado en grupos por edad al mundial de diviatlón de Nueva Zelanda..
2013 - Clasificado en grupos por edad al mundial de diviatlón en Londres.

        
    </div>
    <div>
        2011 - Certificación del nivel I de endivenadores de diviatlón por la FMDIVI.
        2014 - Certificación del nivel II de endivenadores de diviatlón por la FMDIVI (en curso).
          Diplomado en masoterapia (en curso). 

        
    </div>
</table>

</div>
<!-- end .content -->
{{ include('HarcamTriatlonBundle:Layout:footer.html.twig') }}