{{ include('HarcamTriatlonBundle:Layout:header.html.twig') }}
{{ include('HarcamTriatlonBundle:Layout:sidebar.html.twig') }}
<!-- start .content -->
<div class="content">
<h2>Nuestros entrenadores</h2>
<table>
    <tr>Rodolfo Rojas Juárez</tr>
    <tr>- 8 records nacionales Curso Corto Natacion en cat. Juv. A
- 4 records nacionales Curso Largo Natacion en cat. Juv. A
- 2 records absolutos mexicanos Natacion Juv. A
- Cinco veces entrenador auxiliar de la selección Mexicana.
- Campeonato Centroamericano de Republica Dominicana.
- Pacific Swimming en Concord California.
- Campeonato Centroamericano en México.
- Pacific Swimming de San José California.
- CAMEX en Panamá.


TRIATLETA SELECCIONADO PARA PARTICIPAR EN LA OLIMPIADA JUVENIL DESDE 2011- 2014 CON MEDALLA DE ORO EN LA OLIMPIADA DEL 2011 EN LA ESPECIALIDAD DE ACUATLON

- 10 años participando con nadadores en olimpiadas nacionales juveniles de Natación.
</tr>
    <tr>
        Curso para Instructores de natación    1987 – 1991
Metodología y planificación del entrenamiento  1992
Salvamento Acuático y RCP         1987 - 1996
Metodología y ciencias del deporte   1997
 SICCED Niveles I al IV      1998 - 2003
Curso de Psicología del deporte  2003
Certificación en triatlón avalado por FMTRI  2012 nivel 1
Certificación en triatlón avalado por FMTRI  2012 nivel 2

    </tr>
    
    <tr>Marco Antonio López Durán</tr>
    <tr>
        Primer ciclista Profesional Mexicano. Equipos Sem France Loire (Francia, 1981) Ariostea Benotto (Italia) Denti Valtro (EUA, 1984)
Campeonato Mundial de Ciclismo (Barcelona 84)
Campeonato Panamericano de Ciclismo (Chile, Venezuela) 
Campeonato Nacional de Pista (80, 82, 83)
Campeonato Mundial de Duatlón (Dallas 92, Cancún 95)
Campeón Nacional de Ciclismo de Montaña (96, 97, 02)
Campeón Nacional de 5,000 metros en Pista
Campeón Nacional 100 Km Ruta

    </tr>
    <tr>
      Certificación Internacional de Spinning, Tatiana Kolovou, 2000
Taller Internacional de Spinning, Monterrey, N.L., 2003
Congreso Internacional del Deporte, Monterrey, N.L., 2002
IDEA, San Diego, California, 2002
  
        
    </tr>
    
    <tr>Alejandro Romo Perea</tr>
    <tr>
    2008 -  2010 - Miembro del equipo representativo de Atletismo del ITESM Campus Monterrey.
2010 - Se inicia en la práctica del triatlón. 
2011 - Inicia su apoyo como entrenador de atletismo de los Tritanes.
2012 - Clasificado en grupos por edad al mundial de triatlón de Nueva Zelanda..
2013 - Clasificado en grupos por edad al mundial de triatlón en Londres.

        
    </tr>
    <tr>
        2011 - Certificación del nivel I de entrenadores de triatlón por la FMTRI.
        2014 - Certificación del nivel II de entrenadores de triatlón por la FMTRI (en curso).
          Diplomado en masoterapia (en curso). 

        
    </tr>
</table>

</div>
<!-- end .content -->
{{ include('HarcamTriatlonBundle:Layout:footer.html.twig') }}