{{ include('HarcamTriatlonBundle:Layout:header.html.twig') }}
{{ include('HarcamTriatlonBundle:Layout:sidebar.html.twig') }}
<!-- start .content -->
<div class="content">
<h2>Nuestros entrenadores</h2>
<table>
    <tr id="Rojas">
        <h4>Rodolfo Rojas</h4>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr id="Romo">
        <td class="trainername"><h4>Alejandro Romo</h4></td>
        <td><img width ="100px" src="{{ asset('bundles/harcamtriatlon/img/romo.jpg') }}"/></td>
        <td>Originario de Zacatecas, Zac. Alejandro Romo se mudó a la cd. de Monterrey para cursar su carrera y maestría en el área de ingeniería en el Tecnológico de Monterrey.</td>
    <tr/>
    <tr>
            <ul>
                <li>2003 - Se inicia en el atletismo de fondo entrenando para las distancias desde el 5k hasta el maratón. </li>
                <li>2008 -  2010 - Miembro del equipo representativo de Atletismo del ITESM Campus Monterrey.</li>
                <li>2011 - Inicia su apoyo como entrenador de atletismo de los Tritanes.</li>
                <li>2012 - Clasificado en grupos por edad al mundial de triatlón de Nueva Zelanda</li>
                <li>2013 - Clasificado en grupos por edad al mundial de triatlón en Londres.</li>
                <li>2011 - Certificación del nivel I de entrenadores de triatlón por la FMTRI.</li>
                <li>2014 - Certificación del nivel II de entrenadores de triatlón por la FMTRI (en curso).
          Diplomado en masoterapia (en curso). </li>
            </ul>
    </tr>
    <tr id="Lopez">
        <h4>Marco López</h4>
        <td></td>
        <td></td>
        <td></td>
        
    </tr>
    
</table>

</div>
<!-- end .content -->
{{ include('HarcamTriatlonBundle:Layout:footer.html.twig') }}