{{ include('HarcamTriatlonBundle:Layout:header.html.twig') }}
{{ include('HarcamTriatlonBundle:Layout:sidebar.html.twig') }}
<!-- start .content -->
<div class="content">
<h2>Nuestros entrenadores</h2>
<table>
    <tr id="trainer">
        <td>Rodolfo Rojas</td>
        <td>Marco L—pez</td>
        <td>Alejandro Romo</td>
    </tr>
    <tr id="trainerimage">
        <td></td>
        <td></td>
        <td></td>
        
    </tr>
    <tr id="trainercv">
        <td></td>
        <td></td>
        <td></td>
        
    </tr>
</table>

</div>
<!-- end .content -->
{{ include('HarcamTriatlonBundle:Layout:footer.html.twig') }}