{{ include('HarcamTriatlonBundle:Layout:header.html.twig') }}
{{ include('HarcamTriatlonBundle:Layout:sidebar.html.twig') }}
<!-- start .content -->
<div class="content">
<h2>Nuestros entrenadores</h2>
<table>
    <tr id="Rojas">
        <h4>Rodolfo Rojas</h4>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr id="Romo">
        <h4>Alejandro Romo</h4>
        <td><img width ="50px" src="{{ asset('bundles/harcamtriatlon/img/romo.jpg') }}"/></td>
        <td>Originario de Zacatecas, Zac. Alejandro Romo se mud— a la cd. de Monterrey para cursar su carrera y maestr’a en el ‡rea de ingenier’a en el Tecnol—gico de Monterrey.</td>
        <ul>
                <li>2003 - Se inicia en el atletismo de fondo entrenando para las distancias desde el 5k hasta el marat—n. </li>
                <li>2008 -  2010 - Miembro del equipo representativo de Atletismo del ITESM Campus Monterrey.</li>
                <li>2011 - Inicia su apoyo como entrenador de atletismo de los Tritanes.</li>
                <li>2012 - Clasificado en grupos por edad al mundial de triatl—n de Nueva Zelanda</li>
                <li>2013 - Clasificado en grupos por edad al mundial de triatl—n en Londres.</li>
                <li>2011 - Certificaci—n del nivel I de entrenadores de triatl—n por la FMTRI.</li>
                <li>2014 - Certificaci—n del nivel II de entrenadores de triatl—n por la FMTRI (en curso).
          Diplomado en masoterapia (en curso). </li>
            </ul>
        
    </tr>
    <tr id="Lopez">
        <h4>Marco L—pez</h4>
        <td></td>
        <td></td>
        <td></td>
        
    </tr>
    <tr id="trainerprep">
        <td>
        
        </td>
        <td></td>
        <td>
                
        </td>
        
    </tr>
</table>

</div>
<!-- end .content -->
{{ include('HarcamTriatlonBundle:Layout:footer.html.twig') }}