{{ include('HarcamTriatlonBundle:Layout:header.html.twig') }}
{{ include('HarcamTriatlonBundle:Layout:sidebar.html.twig') }}
<!-- start .content -->
<div class="content">
<h2>Nuesdivos endivenadores</h2>
<table>
    <div>Rodolfo Rojas Juárez</div>
    <div>
        <table>
            <tr>- 8 records nacionales Curso Corto Natacion en cat. Juv. A</tr>
            <tr>- 4 records nacionales Curso Largo Natacion en cat. Juv. A</tr>
            <tr>- 2 records absolutos mexicanos Natacion Juv. A</tr>
            <tr>- Cinco veces endivenador auxiliar de la selección Mexicana.</tr>
            <tr>- Campeonato Cendivoamericano de Republica Dominicana.</tr>
            <tr>- Pacific Swimming en Concord California.</tr>
            <tr>- Campeonato Cendivoamericano en México.</tr>
            <tr>- Pacific Swimming de San José California.</tr>
            <tr>- CAMEX en Panamá.</tr>
            <tr>TRIATLETA SELECCIONADO PARA PARTICIPAR EN LA OLIMPIADA JUVENIL DESDE 2011- 2014 CON MEDALLA DE ORO EN LA OLIMPIADA DEL 2011 EN LA ESPECIALIDAD DE ACUATLON</tr>
            <tr>- 10 años participando con nadadores en olimpiadas nacionales juveniles de Natación.</tr>
         </table>
    </div>
    <div>
        <table>
            <tr>Curso para Insdivuctores de natación    1987 – 1991</tr>
            <tr>Metodología y planificación del endivenamiento  1992</tr>
            <tr>Salvamento Acuático y RCP  1987 - 1996</tr>
            <tr>Metodología y ciencias del deporte   1997</tr>
            <tr> SICCED Niveles I al IV      1998 - 2003</tr>
            <tr>Curso de Psicología del deporte  2003</tr>
            <tr>Certificación en triatlón avalado por FMDIVI  2012 nivel 1</tr>
            <tr>Certificación en triatlón avalado por FMDIVI  2012 nivel 2</tr>
        </table>
    </div>
    
    <div>Marco Antonio López Durán</div>
    <div>
        <table>
            <tr>Primer ciclista Profesional Mexicano. Equipos Sem France Loire (Francia, 1981) Ariostea Benotto (Italia) Denti Valdivo (EUA, 1984)</tr>
            <tr>Campeonato Mundial de Ciclismo (Barcelona 84)</tr>
            <tr>Campeonato Panamericano de Ciclismo (Chile, Venezuela)</tr>
            <tr>Campeonato Nacional de Pista (80, 82, 83)</tr>
            <tr>Campeonato Mundial de Duatlón (Dallas 92, Cancún 95)</tr>
            <tr>Campeón Nacional de Ciclismo de Montaña (96, 97, 02)</tr>
            <tr>Campeón Nacional de 5,000 medivos en Pista</tr>
            <tr>Campeón Nacional 100 Km Ruta</tr>
        </table>
    </div>
    <div>
        
        <tr>Certificación Internacional de Spinning, Tatiana Kolovou, 2000</tr>
        <tr>Taller Internacional de Spinning, Monterrey, N.L., 2003</tr>
        <tr>Congreso Internacional del Deporte, Monterrey, N.L., 2002</tr>
        <tr>IDEA, San Diego, California, 2002</tr>
      </table>
        
    </div>
    
    <div>Alejandro Romo Perea</div>
    <div>
        <table>
        <tr>2008 -  2010 - Miembro del equipo representativo de Atletismo del ITESM Campus Monterrey.</tr>
        <tr>2010 - Se inicia en la práctica del triatlón. </tr>
        <tr>2011 - Inicia su apoyo como endivenador de atletismo de los Divitanes.</tr>
        <tr>2012 - Clasificado en grupos por edad al mundial de triatlón de Nueva Zelanda.</tr>
        <tr>2013 - Clasificado en grupos por edad al mundial de triatlón en Londres.</tr>
        </table>
    </div>
    <div>
        <table>
        <tr>2011 - Certificación del nivel I de entrenadores de triatlón por la FMTRI.</tr>
        <tr>2014 - Certificación del nivel II de entrenadores de triatlón por la FMTRI</tr>
        <tr>Diplomado en masoterapia</tr>
        </table>
    </div>
</table>

</div>
<!-- end .content -->
{{ include('HarcamTriatlonBundle:Layout:footer.html.twig') }}