{{ include('HarcamTriatlonBundle:Layout:header.html.twig') }}
{{ include('HarcamTriatlonBundle:Layout:sidebar.html.twig') }}

<!-- start .content -->
<div class="content">

    <div>
        <h1>Registro</h1>
    </div>

    <form id="form" action="Registro.php" method="post">
	<div>
    	<label for="categoria">Categoría*:</label>
	<select name="categoria"<?php setValue( "categoria" ) ?> >
			<option value="IF">Femenil 14 a 15 años</option>
	    		<option value="JF">Femenil 16 a 19 años</option>
		    	<option value="R">Femenil 20 a 24 años</option>
		    	<option value="O">Femenil 25 a 29 años</option>
			<option value="P">Femenil 30 a 34 años</option>
	    		<option value="Q">Femenil 35 a 39 años</option>
			<option value="R">Femenil 40 a 44 años</option>
    			<option value="S">Femenil 45 a 49 años</option>
		    	<option value="T">Femenil 50 a 54 años</option>
		    	<option value="V">Femenil 55 a 59 años</option>
			<option value="IC">Varonil 14 a 15 años</option>
		    	<option value="JV">Varonil 16 a 19 años</option>
			<option value="A">Varonil 20 a 24 años</option>
		    	<option value="B">Varonil 25 a 29 años</option>
		    	<option value="C">Varonil 30 a 34 años</option>
			<option value="D">Varonil 40 a 44 años</option>
			<option value="E">Varonil 45 a 49 años</option>
	    		<option value="F">Varonil 50 a 54 años</option>
    			<option value="G">Varonil 55 a 59 años</option>
			<option value="H">Varonil 60 y mayores</option>
	</select><br/>
	<label for="nombre"<?php validateField( "nombre",$missingFields ) ?> > Nombre*:</label>
	    	<input type="text" name="nombre" /><br/>
	<label for="apellido" <?php validateField( "apellido",$missingFields ) ?>>Apellidos*:</label>
		<input type="text" name="apellido" /><br/>
    	<label for="equipo">Equipo:</label>
	    	<input type="text" name="equipo"/><br/>
	<label for="swimTime" <?php validateField( "afiliacion",$missingFields ) ?>>Tiempo aproximado para 100 m de nado::</label>
		<input type="text" name="afiliacion" /><br/>
	<label for="tel">Teléfono de contacto:</label>
		<input type="text" name="tel"/><br/>
	<label for="email" <?php validateField( "email",$missingFields ) ?>>Email*:</label>
		<input type="text" name="email"/>
	<input type="submit" value="Inscribir"/><br/>
			</div>
    
        
    </form>
    
    

</div>
<!-- end .content -->

{{ include('HarcamTriatlonBundle:Layout:footer.html.twig') }}